<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.merchantsstore.mapper.MerchantsStoreMapper">

    <update id="updateMerchantsStore">
        update ry.merchants_store
        set mid=#{newId}
        where sid=#{storeId} and mid=#{oldId}
    </update>
    <update id="updateMerchantsIdToZero">
        update ry.merchants_store
        set mid=0
        where sid in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <delete id="deletStore">
        delete from ry.merchants_store where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
